@import 'tailwindcss';
@import '@repo/react-common/theme/default-values.css';
@import '@repo/react-common/theme/color-themes.css';
@import '@repo/react-common/theme/tokens.css';
@source '../../../../packages/react-common/src';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
