@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss';
@variant dark (&:where(.dark, .dark *));
@source './';
@import './theme/default-values.css';
@import './theme/color-themes.css';
@import './theme/tokens.css';

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
